<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MTCAlphaTargetDetectionTask</key>
	<true/>
	<key>MTCBehaviorWindowVisible</key>
	<true/>
	<key>MTCBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>MTCBlockLimit</key>
	<integer>100</integer>
	<key>MTCCatchTrialPC</key>
	<real>5</real>
	<key>MTCCatchTrialMaxPC</key>
	<real>5</real>
	<key>MTCChangePersists</key>
	<true/>
	<key>MTCContrast</key>
	<integer>100</integer>
	<key>MTCContrastFactor</key>
	<real>0.5</real>
	<key>MTCContrastPC</key>
	<real>100</real>
	<key>MTCContrasts</key>
	<integer>8</integer>
	<key>MTCConvertToGrating</key>
	<false/>
	<key>MTCConvertToPlaid</key>
	<false/>
	<key>MTCCueMS</key>
	<integer>250</integer>
	<key>MTCDedicatedITC18</key>
	<true/>
	<key>MTCEyeToUse</key>
	<integer>0</integer>
	<key>MTCEyeXYDoGrid</key>
	<true/>
	<key>MTCEyeXYDoTicks</key>
	<integer>1</integer>
	<key>MTCEyeXYSamplesSaved</key>
	<integer>200</integer>
	<key>MTCEyeXYDotSizeDeg</key>
	<real>0.02</real>
	<key>MTCEyeXYDrawCal</key>
	<true/>
	<key>MTCEyeXYGridDeg</key>
	<real>5</real>
	<key>MTCEyeXYHScroll</key>
	<integer>3500</integer>
	<key>MTCEyeXYMag</key>
	<real>30</real>
	<key>MTCEyeXYOneInN</key>
	<integer>1</integer>
	<key>MTCEyeXYTickDeg</key>
	<real>1</real>
	<key>MTCEyeXYVScroll</key>
	<integer>3500</integer>
	<key>MTCEyeXYWindowVisible</key>
	<true/>
	<key>MTCEyeXYFadeDots</key>
	<true/>
	<key>MTCFixate</key>
	<true/>
	<key>MTCFixateOnly</key>
	<false/>
	<key>MTCFixateMS</key>
	<integer>0</integer>
	<key>MTCFixJitterPC</key>
	<integer>0</integer>
	<key>MTCFixWindowWidthDeg</key>
	<real>1</real>
	<key>MTCInstructionTrials</key>
	<integer>1</integer>
	<key>MTCInterstimJitterPC</key>
	<integer>50</integer>
	<key>MTCInterstimMS</key>
	<integer>250</integer>
	<key>MTCInvalidTrialPC</key>
	<integer>10</integer>
	<key>MTCKdlPhiDeg</key>
	<real>180</real>
	<key>MTCKdlThetaDeg</key>
	<real>90</real>
	<key>MTCMaxContrast</key>
	<integer>100</integer>
	<key>MTCMaxTargetMS</key>
	<integer>5000</integer>
	<key>MTCMeanTargetMS</key>
	<integer>2500</integer>
	<key>MTCMinTargetMS</key>
	<integer>200</integer>
	<key>MTCNumInstructTrials</key>
	<integer>2</integer>
	<key>MTCPrecueMS</key>
	<integer>250</integer>
	<key>MTCRadiusDeg</key>
	<real>8</real>
	<key>MTCRandTaskGaborDirection</key>
	<false/>
	<key>MTCRelDistractorProb</key>
	<real>1</real>
	<key>MTCRespSpotSizeDeg</key>
	<real>0.25</real>
	<key>MTCRespWindowWidthDeg</key>
	<real>2</real>
	<key>MTCRFAzimuthDeg</key>
	<real>2</real>
	<key>MTCRFElevationDeg</key>
	<integer>-2</integer>
	<key>MTCGaborSepDeg</key>
	<integer>30</integer>
	<key>MTCSaccadeTimeMS</key>
	<integer>200</integer>
	<key>MTCSeparationDeg</key>
	<real>2.5</real>
	<key>MTCSigmaDeg</key>
	<real>0.25</real>
	<key>MTCSpatialFreqCPD</key>
	<real>4</real>
	<key>MTCSpatialModulationType</key>
	<integer>1</integer>
	<key>MTCSpatialPhaseDeg</key>
	<real>90</real>
	<key>MTCSpikeWindowVisible</key>
	<true/>
	<key>MTCSpikeWindowZoom</key>
	<integer>100</integer>
	<key>MTCStimDurationMS</key>
	<integer>250</integer>
	<key>MTCStimDistribution</key>
	<integer>0</integer>
	<key>MTCStimJitterPC</key>
	<integer>0</integer>
	<key>MTCStimLeadMS</key>
	<integer>500</integer>
	<key>MTCStimPerLocation</key>
	<integer>10</integer>
	<key>MTCSummaryWindowBrokeCount</key>
	<integer>0</integer>
	<key>MTCSummaryWindowComputerCount</key>
	<integer>0</integer>
	<key>MTCSummaryWindowCorrectCount</key>
	<integer>0</integer>
	<key>MTCSummaryWindowDateCount</key>
	<integer>0</integer>
	<key>MTCSummaryWindowFailedCount</key>
	<integer>0</integer>
	<key>MTCSummaryWindowIgnoredCount</key>
	<integer>0</integer>
	<key>MTCSummaryWindowTotalCount</key>
	<integer>0</integer>
	<key>MTCSummaryWindowVisible</key>
	<true/>
	<key>MTCSummaryWindowWrongCount</key>
	<integer>0</integer>
	<key>MTCSummaryWindowZoom</key>
	<integer>100</integer>
	<key>MTCTargetAlpha</key>
	<integer>0</integer>
	<key>MTCTargetRadius</key>
	<integer>0</integer>
	<key>MTCTaskStatus</key>
	<integer>0</integer>
	<key>MTCTemporalFreqHz</key>
	<real>0</real>
	<key>MTCTemporalModulationParam</key>
	<integer>1</integer>
	<key>MTCTemporalModulationType</key>
	<integer>2</integer>
	<key>MTCTemporalPhaseDeg</key>
	<real>0</real>
	<key>MTCTrialWindowVisible</key>
	<true/>
	<key>MTCTrialWindowZoom</key>
	<integer>100</integer>
</dict>
</plist>
