<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RFAcquireMS</key>
	<real>2000</real>
	<key>RFBarContrastPC</key>
	<real>100</real>
	<key>RFBarKdlPhiDeg</key>
	<real>0</real>
	<key>RFBarKdlThetaDeg</key>
	<real>90</real>
	<key>RFBarLengthDeg</key>
	<real>5</real>
	<key>RFBarOrientationDeg</key>
	<real>0</real>
	<key>RFBarWidthDeg</key>
	<real>0.5</real>
	<key>RFDisplayMode</key>
	<integer>0</integer>
	<key>RFDisplayUnits</key>
	<integer>0</integer>
	<key>RFDoFixate</key>
	<true/>
	<key>RFDoGrid</key>
	<false/>
	<key>RFDoMouseGate</key>
	<true/>
	<key>RFDoSounds</key>
	<integer>1</integer>
	<key>RFEyeXYDoDotFade</key>
	<true/>
	<key>RFEyeXYDoDrawCal</key>
	<true/>
	<key>RFEyeXYDoGrid</key>
	<true/>
	<key>RFEyeXYDoTicks</key>
	<true/>
	<key>RFEyeXYDotSizeDeg</key>
	<real>0.1</real>
	<key>RFEyeXYGridDeg</key>
	<real>5</real>
	<key>RFEyeXYHScroll</key>
	<integer>0</integer>
	<key>RFEyeXYMag</key>
	<integer>30</integer>
	<key>RFEyeXYOneInN</key>
	<integer>1</integer>
	<key>RFEyeXYSamplesToSave</key>
	<integer>200</integer>
	<key>RFEyeXYTickDeg</key>
	<real>1</real>
	<key>RFEyeXYVScroll</key>
	<integer>0</integer>
	<key>RFEyeXYWindowVisible</key>
	<true/>
	<key>RFFixWindowWidthDeg</key>
	<real>1</real>
	<key>RFGaborAzimuthDeg</key>
	<real>3</real>
	<key>RFGaborContrast</key>
	<real>1</real>
	<key>RFGaborElevationDeg</key>
	<real>3</real>
	<key>RFGaborKdlPhiDeg</key>
	<real>0</real>
	<key>RFGaborKdlThetaDeg</key>
	<real>90</real>
	<key>RFGaborDirectionDeg</key>
	<real>90</real>
	<key>RFGaborRadiusDeg</key>
	<real>4</real>
	<key>RFGaborSigmaDeg</key>
	<real>1</real>
	<key>RFGaborSpatialFreqCPD</key>
	<real>0.5</real>
	<key>RFGaborSpatialModulationType</key>
	<integer>0</integer>
	<key>RFGaborSpatialPhaseDeg</key>
	<real>0</real>
	<key>RFGaborTemporalFreqHz</key>
	<real>0</real>
	<key>RFGaborTemporalModulationParam</key>
	<integer>0</integer>
	<key>RFGaborTemporalModulationType</key>
	<integer>0</integer>
	<key>RFGaborTemporalPhaseDeg</key>
	<real>0</real>
	<key>RFGridSpacingDeg</key>
	<real>5</real>
	<key>RFMaxFixateMS</key>
	<integer>2500</integer>
	<key>RFIntertrialMS</key>
	<integer>1500</integer>
	<key>RFMeanFixateMS</key>
	<integer>1000</integer>
	<key>RFOrientationStepDeg</key>
	<real>22.5</real>
	<key>RFRewardMS</key>
	<integer>100</integer>
	<key>RFSizeFactor</key>
	<real>1.25</real>
	<key>RFStimType</key>
	<integer>0</integer>
	<key>RFTaskMode</key>
	<integer>0</integer>
	<key>RFWidthFactor</key>
	<real>1.25</real>
</dict>
</plist>
