<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STCAcquireMS</key>
	<integer>2000</integer>
	<key>STCBehaviorWindowVisible</key>
	<true/>
	<key>STCBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>STCContrastFactor</key>
	<real>0.5</real>
	<key>STCContrastGuess</key>
	<integer>50</integer>
	<key>STCErrorTimeoutMS</key>
	<integer>1000</integer>
	<key>STCFARatePC</key>
	<integer>0</integer>
	<key>STCGaborKdlPhiDeg</key>
	<real>180</real>
	<key>STCGaborKdlThetaDeg</key>
	<real>90</real>
	<key>STCGaborRadiusDeg</key>
	<real>1</real>
	<key>STCGaborSigmaDeg</key>
	<real>0.25</real>
	<key>STCGaborSpatialFreqCPD</key>
	<real>4</real>
	<key>STCGaborSpatialModulationType</key>
	<integer>1</integer>
	<key>STCGaborTemporalFreqHz</key>
	<real>0</real>
	<key>STCGaborTemporalModulationParam</key>
	<integer>1</integer>
	<key>STCGaborTemporalModulationType</key>
	<integer>2</integer>
	<key>STCGaborTemporalPhaseDeg</key>
	<real>0</real>
	<key>STCGaborSpatialPhaseDeg</key>
	<real>90</real>
	<key>STCIntertrialJitterPC</key>
	<integer>0</integer>
	<key>STCIntertrialMS</key>
	<integer>1500</integer>
	<key>STCLapseRatePC</key>
	<integer>0</integer>
	<key>STCLEDTopupMulti</key>
	<integer>2</integer>
	<key>STCLEDTopupProb</key>
	<real>0.5</real>
	<key>STCMaxContrast</key>
	<integer>100</integer>
	<key>STCMaxContrastPC</key>
	<integer>100</integer>
	<key>STCMaxPowerMW</key>
	<real>1</real>
	<key>STCMaxPreStimMS</key>
	<integer>1000</integer>
	<key>STCMinContrastPC</key>
	<integer>10</integer>
	<key>STCMinContrastTopupPC</key>
	<integer>0</integer>
	<key>STCMinPowerMW</key>
	<real>0.1</real>
	<key>STCMinPowerTopupMW</key>
	<real>0.1</real>
	<key>STCMinPreStimMS</key>
	<integer>100</integer>
	<key>STCOptiDelayMS</key>
	<integer>0</integer>
	<key>STCOptiDurMS</key>
	<integer>200</integer>
	<key>STCPostResponseMS</key>
	<integer>1000</integer>
	<key>STCPowerGuess</key>
	<real>0.1</real>
	<key>STCPowers</key>
	<integer>2</integer>
	<key>STCQuenchDelayMS</key>
	<integer>0</integer>
	<key>STCQuenchDurMS</key>
	<integer>200</integer>
	<key>STCQuenchPowerMW</key>
	<real>0.1</real>
	<key>STCReactMS</key>
	<integer>750</integer>
	<key>STCRespLimitMS</key>
	<integer>500</integer>
	<key>STCStimType</key>
	<integer>0</integer>
	<key>STCSubjectNumber</key>
	<integer>0</integer>
	<key>STCSummaryWindowBrokeCount</key>
	<integer>0</integer>
	<key>STCSummaryWindowComputerCount</key>
	<integer>0</integer>
	<key>STCSummaryWindowCorrectCount</key>
	<integer>0</integer>
	<key>STCSummaryWindowDateCount</key>
	<integer>0</integer>
	<key>STCSummaryWindowFailedCount</key>
	<integer>0</integer>
	<key>STCSummaryWindowIgnoredCount</key>
	<integer>0</integer>
	<key>STCSummaryWindowTotalCount</key>
	<integer>0</integer>
	<key>STCSummaryWindowVisible</key>
	<true/>
	<key>STCSummaryWindowWrongCount</key>
	<integer>0</integer>
	<key>STCSummaryWindowZoom</key>
	<integer>100</integer>
	<key>STCSynthThresholdPC</key>
	<integer>25</integer>
	<key>STCSynthThresholdMW</key>
	<real>0.25</real>
	<key>STCTaskStatus</key>
	<integer>0</integer>
	<key>STCTestJitterPC</key>
	<integer>0</integer>
	<key>STCTooFastMS</key>
	<integer>100</integer>
	<key>STCTrialLimit</key>
	<integer>100</integer>
	<key>STCTrialWindowVisible</key>
	<true/>
	<key>STCTrialWindowZoom</key>
	<integer>100</integer>
	<key>STCVisualDurMS</key>
	<integer>200</integer>
	<key>STCVisTopupProb</key>
	<real>0.5</real>
	<key>STCVisTopupMulti</key>
	<integer>2</integer>
	<key>STC1PPulsePowerMW</key>
	<real>0.5</real>
</dict>
</plist>
