<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OKBehaviorWindowVisible</key>
	<true/>
	<key>OKBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>OKBlockLimit</key>
	<integer>100</integer>
	<key>OKConseqRewardLimit</key>
	<integer>8</integer>
	<key>OKContrasts</key>
	<integer>4</integer>
	<key>OKContrastScale</key>
	<integer>0</integer>
	<key>OKGaborArray</key>
	<array>
		<dict>
			<key>value</key>
			<integer>0</integer>
			<key>reps</key>
			<integer>0</integer>
			<key>optoReps</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>OKIdleGray</key>
	<real>0.25</real>
	<key>OKGaborPowerMW</key>
	<real>100</real>
	<key>OKGaborKdlPhiDeg</key>
	<real>180</real>
	<key>OKGaborKdlThetaDeg</key>
	<real>90</real>
	<key>OKGaborRadiusDeg</key>
	<real>1</real>
	<key>OKGaborSigmaDeg</key>
	<real>0.25</real>
	<key>OKGaborSpatialFreqCPD</key>
	<real>4</real>
	<key>OKGaborSpatialModulationType</key>
	<integer>1</integer>
	<key>OKGaborTemporalFreqHz</key>
	<real>0</real>
	<key>OKGaborTemporalModulationParam</key>
	<integer>1</integer>
	<key>OKGaborTemporalModulationType</key>
	<integer>2</integer>
	<key>OKGaborTemporalPhaseDeg</key>
	<real>0</real>
	<key>OKGaborSpatialPhaseDeg</key>
	<real>90</real>
	<key>OKLEDArray</key>
	<array>
		<dict>
			<key>value</key>
			<integer>0</integer>
			<key>reps</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>OKMaxContrastPC</key>
	<integer>80</integer>
	<key>OKMaxPowerMW</key>
	<integer>80</integer>
	<key>OKMaxPreStimMS</key>
	<integer>1000</integer>
	<key>OKMinPowerMW</key>
	<real>0.01</real>
	<key>OKMinContrastPC</key>
	<integer>10</integer>
	<key>OKMinPreStimMS</key>
	<integer>100</integer>
	<key>OKPhotodiodeTrigger</key>
	<false/>
	<key>OKPowerFactor</key>
	<real>0.5</real>
	<key>OKPowers</key>
	<integer>4</integer>
	<key>OKPowerScale</key>
	<integer>0</integer>
	<key>OKPulseContrast</key>
	<real>1</real>
	<key>OKPulseDurMS</key>
	<integer>25</integer>
	<key>OKMeanPowerMW</key>
	<real>0.5</real>
	<key>OKRampDurMS</key>
	<real>0</real>
	<key>OKReactMS</key>
	<integer>750</integer>
	<key>OKRespLimitMS</key>
	<integer>500</integer>
	<key>OKRewardUL</key>
	<real>1</real>
	<key>OKStimDurMS</key>
	<integer>200</integer>
	<key>OKSummaryWindowBrokeCount</key>
	<integer>0</integer>
	<key>OKSummaryWindowComputerCount</key>
	<integer>0</integer>
	<key>OKSummaryWindowCorrectCount</key>
	<integer>0</integer>
	<key>OKSummaryWindowDateCount</key>
	<integer>0</integer>
	<key>OKSummaryWindowFailedCount</key>
	<integer>0</integer>
	<key>OKSummaryWindowIgnoredCount</key>
	<integer>0</integer>
	<key>OKSummaryWindowTotalCount</key>
	<integer>0</integer>
	<key>OKSummaryWindowVisible</key>
	<true/>
	<key>OKSummaryWindowWrongCount</key>
	<integer>0</integer>
	<key>OKSummaryWindowZoom</key>
	<integer>100</integer>
	<key>OKTaskStatus</key>
	<integer>0</integer>
	<key>OKTrialWindowVisible</key>
	<true/>
	<key>OKTrialWindowZoom</key>
	<integer>100</integer>
	<key>OKVisualStimType</key>
	<integer>0</integer>
</dict>
</plist>
