<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LLFixCalAzimuthDeg</key>
	<real>0.0</real>
	<key>LLFixCalElevationDeg</key>
	<real>0.0</real>
	<key>LLFixCorrectFactor</key>
	<real>0.025</real>
	<key>LLFixCalOffsetDeg</key>
	<real>1.0</real>
	<key>LLFixCalM11</key>
	<real>0.001</real>
	<key>LLFixCalM12</key>
	<real>0.0</real>
	<key>LLFixCalM21</key>
	<real>0.0</real>
	<key>LLFixCalM22</key>
	<real>0.001</real>
	<key>LLFixCalTX</key>
	<real>0.0</real>
	<key>LLFixCalTY</key>
	<real>0.0</real>
</dict>
</plist>
