<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LLLaserCalibratorArray</key>
	<array>
		<dict>
			<key>voltage</key>
			<integer>2</integer>
			<key>mW</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>voltage</key>
			<real>1.8</real>
			<key>mW</key>
			<real>0.9</real>
		</dict>
		<dict>
			<key>voltage</key>
			<real>1.6</real>
			<key>mW</key>
			<real>0.8</real>
		</dict>
		<dict>
			<key>voltage</key>
			<real>1.4</real>
			<key>mW</key>
			<real>0.7</real>
		</dict>
		<dict>
			<key>voltage</key>
			<real>1.2</real>
			<key>mW</key>
			<real>0.6</real>
		</dict>
		<dict>
			<key>voltage</key>
			<real>1</real>
			<key>mW</key>
			<real>0.5</real>
		</dict>
		<dict>
			<key>voltage</key>
			<real>0.8</real>
			<key>mW</key>
			<real>0.4</real>
		</dict>
		<dict>
			<key>voltage</key>
			<real>0.6</real>
			<key>mW</key>
			<real>0.3</real>
		</dict>
		<dict>
			<key>voltage</key>
			<real>0.4</real>
			<key>mW</key>
			<real>0.02</real>
		</dict>
		<dict>
			<key>voltage</key>
			<real>0.2</real>
			<key>mW</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>voltage</key>
			<integer>0</integer>
			<key>mW</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>LLLaserCalibratorAttenuation</key>
	<real>1</real>
</dict>
</plist>
