<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SQAcquireMS</key>
	<integer>2000</integer>
	<key>SQBehaviorWindowVisible</key>
	<true/>
	<key>SQBehaviorWindowZoom</key>
	<integer>100</integer>
	<key>SQBlockLimit</key>
	<integer>100</integer>
	<key>SQContrastScale</key>
	<integer>0</integer>
	<key>SQContrastFactor</key>
	<real>0.5</real>
	<key>SQErrorTimeoutMS</key>
	<integer>500</integer>
	<key>SQIntertrialMS</key>
	<integer>1500</integer>
	<key>SQIntertrialJitterPC</key>
	<integer>0</integer>
	<key>SQGaborKdlPhiDeg</key>
	<real>180</real>
	<key>SQGaborKdlThetaDeg</key>
	<real>90</real>
	<key>SQGaborRadiusDeg</key>
	<real>1</real>
	<key>SQGaborSigmaDeg</key>
	<real>0.25</real>
	<key>SQGaborSpatialFreqCPD</key>
	<real>4</real>
	<key>SQGaborSpatialModulationType</key>
	<integer>1</integer>
	<key>SQGaborTemporalFreqHz</key>
	<real>0</real>
	<key>SQGaborTemporalModulationParam</key>
	<integer>1</integer>
	<key>SQGaborTemporalModulationType</key>
	<integer>2</integer>
	<key>SQGaborTemporalPhaseDeg</key>
	<real>0</real>
	<key>SQGaborSpatialPhaseDeg</key>
	<real>90</real>
	<key>SQMaxContrast</key>
	<integer>100</integer>
	<key>SQMaxContrastPC</key>
	<integer>100</integer>
	<key>SQMaxPowerMW</key>
	<real>1</real>
	<key>SQMaxPreStimMS</key>
	<integer>1000</integer>
	<key>SQMinContrastPC</key>
	<integer>10</integer>
	<key>SQMinPowerMW</key>
	<real>0.1</real>
	<key>SQMinPreStimMS</key>
	<integer>100</integer>
	<key>SQNumStim</key>
	<integer>4</integer>
	<key>SQOptiDelayMS</key>
	<integer>0</integer>
	<key>SQOptiDurMS</key>
	<integer>200</integer>
	<key>SQOptiRampMS</key>
	<integer>50</integer>
	<key>SQPowers</key>
	<integer>2</integer>
	<key>SQPowerScale</key>
	<integer>0</integer>
	<key>SQQuenchDelayMS</key>
	<integer>0</integer>
	<key>SQQuenchDurMS</key>
	<integer>200</integer>
	<key>SQQuenchPowerMW</key>
	<real>0.1</real>
	<key>SQReactMS</key>
	<integer>750</integer>
	<key>SQStimulusArray</key>
	<array>
		<dict>
			<key>contrast</key>
			<integer>2</integer>
			<key>power</key>
			<real>0</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>contrast</key>
			<integer>4</integer>
			<key>power</key>
			<real>0.1</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>contrast</key>
			<integer>6</integer>
			<key>power</key>
			<real>0.2</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>contrast</key>
			<integer>8</integer>
			<key>power</key>
			<real>0.3</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>contrast</key>
			<integer>10</integer>
			<key>power</key>
			<real>0.4</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>contrast</key>
			<integer>12</integer>
			<key>power</key>
			<real>0.5</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>contrast</key>
			<integer>14</integer>
			<key>power</key>
			<real>0.6</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>contrast</key>
			<integer>16</integer>
			<key>power</key>
			<real>0.7</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>contrast</key>
			<integer>18</integer>
			<key>power</key>
			<real>0.8</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>contrast</key>
			<integer>20</integer>
			<key>power</key>
			<real>0.9</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>contrast</key>
			<integer>22</integer>
			<key>power</key>
			<real>1</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>contrast</key>
			<integer>24</integer>
			<key>power</key>
			<real>1.1</real>
			<key>repetitions</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SQSubjectNumber</key>
	<integer>0</integer>
	<key>SQSummaryWindowBrokeCount</key>
	<integer>0</integer>
	<key>SQSummaryWindowComputerCount</key>
	<integer>0</integer>
	<key>SQSummaryWindowCorrectCount</key>
	<integer>0</integer>
	<key>SQSummaryWindowDateCount</key>
	<integer>0</integer>
	<key>SQSummaryWindowFailedCount</key>
	<integer>0</integer>
	<key>SQSummaryWindowIgnoredCount</key>
	<integer>0</integer>
	<key>SQSummaryWindowTotalCount</key>
	<integer>0</integer>
	<key>SQSummaryWindowVisible</key>
	<true/>
	<key>SQSummaryWindowWrongCount</key>
	<integer>0</integer>
	<key>SQSummaryWindowZoom</key>
	<integer>100</integer>
	<key>SQTaskStatus</key>
	<integer>0</integer>
	<key>SQTooFastMS</key>
	<integer>100</integer>
	<key>SQTrialWindowVisible</key>
	<true/>
	<key>SQTrialWindowZoom</key>
	<integer>100</integer>
	<key>SQVisualDurMS</key>
	<integer>200</integer>
	<key>SQWaitIfBlocked</key>
	<false/>
	<key>SQ1PPulsePowerMW</key>
	<real>0.5</real>
</dict>
</plist>
