<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VFDoSounds</key>
	<true/>
	<key>VFHideLeft</key>
	<false/>
	<key>VFHideLeftDigital</key>
	<false/>
	<key>VFHideRight</key>
	<false/>
	<key>VFHideRightDigital</key>
	<false/>
	<key>VFIntertrialMS</key>
	<integer>1500</integer>
	<key>VFKdlPhiDeg</key>
	<real>180</real>
	<key>VFKdlThetaDeg</key>
	<real>90</real>
	<key>VFMapInterstimDurationMS</key>
	<integer>0</integer>
	<key>VFMappingBlocks</key>
	<integer>5</integer>
	<key>VFMapStimContrastPC</key>
	<real>100</real>
	<key>VFMapStimDurationMS</key>
	<integer>100</integer>
	<key>VFMapStimRadiusSigmaRatio</key>
	<real>3</real>
	<key>VFMapTemporalModulation</key>
	<integer>1</integer>
	<key>VFMaxContrast</key>
	<integer>100</integer>
	<key>VFStimTableCounts</key>
	<array>
		<dict>
			<key>row</key>
			<string>n</string>
			<key>azimuthCount</key>
			<integer>3</integer>
			<key>elevationCount</key>
			<integer>3</integer>
			<key>spatialFreqCount</key>
			<integer>3</integer>
			<key>sigmaCount</key>
			<integer>3</integer>
			<key>orientationCount</key>
			<integer>3</integer>
			<key>contrastCount</key>
			<integer>3</integer>
			<key>temporalFreqCount</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>VFStimTables</key>
	<array>
		<dict>
			<key>row</key>
			<string>min</string>
			<key>azimuthDeg0</key>
			<real>1</real>
			<key>elevationDeg0</key>
			<real>1</real>
			<key>spatialFreqCPD0</key>
			<real>0.5</real>
			<key>sigmaDeg0</key>
			<real>0.5</real>
			<key>orientationDeg0</key>
			<real>0</real>
			<key>contrastPC0</key>
			<integer>25</integer>
			<key>temporalFreqHz0</key>
			<integer>0</integer>
			<key>azimuthDeg1</key>
			<real>1</real>
			<key>elevationDeg1</key>
			<real>1</real>
			<key>spatialFreqCPD1</key>
			<real>0.5</real>
			<key>sigmaDeg1</key>
			<real>0.5</real>
			<key>orientationDeg1</key>
			<real>0</real>
			<key>contrastPC1</key>
			<integer>0</integer>
			<key>temporalFreqHz1</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>row</key>
			<string>max</string>
			<key>azimuthDeg0</key>
			<real>3</real>
			<key>elevationDeg0</key>
			<real>3</real>
			<key>spatialFreqCPD0</key>
			<real>4</real>
			<key>sigmaDeg0</key>
			<real>2</real>
			<key>orientationDeg0</key>
			<real>240</real>
			<key>contrastPC0</key>
			<integer>100</integer>
			<key>temporalFreqHz0</key>
			<integer>5</integer>
			<key>azimuthDeg1</key>
			<real>3</real>
			<key>elevationDeg1</key>
			<real>3</real>
			<key>spatialFreqCPD1</key>
			<real>4</real>
			<key>sigmaDeg1</key>
			<real>2</real>
			<key>orientationDeg1</key>
			<real>240</real>
			<key>contrastPC1</key>
			<integer>100</integer>
			<key>temporalFreqHz1</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>VFSummaryWindowComputerCount</key>
	<integer>0</integer>
	<key>VFSummaryWindowVisible</key>
	<true/>
	<key>VFTaskStatus</key>
	<integer>0</integer>
</dict>
</plist>
